body{
	background-color: #1B1C1E;
}
.card{
	background-color: #1B1C1E;
}

.card-title{
	color: #f5f5dc;
}
p{
	color: beige;
	text-align: left;
}

h1{
	color: beige;
}
.list-group-item{
	background-color: #1B1C1E;
	color: beige;
}
.gaycontainer {
	max-width: 400px;
	margin: 0 auto;
	margin-top: 30px;
	display: flex;
	justify-content: center
	}
	
.youtubelink .icon {
	width: 20px;
	color: #fc0000;
	display: flex;
	flex-shrink: 0;
}

.youtubelink{
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	color: beige;
	line-height: 1.8;
	display: flex;
	gap: 16px;
	margin: 8px 0;
	padding: 4px 32px;
	cursor: pointer;
	transition: all 400ms ease;
	
}

.youtube-video{
	transition: all 400ms ease;
}

.youtubelink:hover{
	background: #d9d9d9;
	color: 1B1C1E;	
}

.overlay{
	position: fixed;
	inset:0;
	background: rgba(0, 0, 0, 0.6);	
	opacity:0;
	pointer-events: none;
	transition: all 400ms ease;
	z-index: 9999;
}

.overlay.active{
	opacity: 1; 
	pointer-events: auto;
	transition: all 400ms ease;
}

.videopopup{
	position: fixed;
	width: 80%;
	left: 50%; 
	transform: translate(-50%, -100%);
	transition: all 600ms ease;
	
}

.overlay.active .videopopup{
	transform: translate(-50%, 3%);
	
}

.videopopup iframe{
	width: 100%;
	aspect-ratio: 16/9;
}

.datecard{
  width: 21%;
  position: absolute;
  top: 90%;
  left: 70%;
  transform: translate(-60%, -50%);
}


.form-select{
  margin-bottom: 10px;
}

:root, [data-bs-theme=light] {
	--bs-border-color: #919191;
}

.progress, .progress-stacked {
	background-color: #8d8d8d;
	margin-top: 10px;
}





