{% extends "movies.html" %}

{% block movies %}
<!--Flashing messages--> 
{% with messages = get_flashed_messages(with_categories=true) %}  
{% if messages %}  
    {% for category, message in messages %}  
        {% if category == 'success' %} 
        <div class="alert alert-success alert-dismissible fade show" role="alert"> 
            {{message}} 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> 
        </div> 
{% endif %} {% endfor %} {% endif %} {% endwith %}
<h1>Booking Succesful!</h1>

<h2 style="color: white;">Below is the details</h2>
<br/>
{% for each_booking in booking %}
{% endfor %}
<br/>
<br/>
<p id="movieID" style="color: white; display: none;"></p>

<div style="display: flex; ">
<h4 style="text-align: left; color: white; margin-right: 2%;">Movie Title : </h4>
<p id="title" style="color: white; font-size: 130%;"></p>
</div>

<div style="display: flex;">
<h4 style="text-align: left; color: white; margin-right: 2%;">Cinema Room : </h4>
<p id="roomID" style="color: white; font-size: 130%;"></p>
</div>

<div style="display: flex;">
<h4 style="text-align: left; color: white; margin-right: 2%;">Date & Time : </h4>
<p id="dateTime" style="color: white; font-size: 130%; "></p>
</div>

<div>
<h4 style="text-align: left; color: white; display: none;" >Ticket type : </h4>
<div style="display: flex; margin-left: 2%;"><p style="color: white; margin-right: 2%; font-size: 130%; display: none;">Adult Ticket : </p><p id="adultTix" style="color: white;  font-size: 130%; display: none;"></p></div>
<div style="display: flex; margin-left: 2%;"><p style="color: white; margin-right: 2%; font-size: 130%; display: none;">Student Ticket : </p><p id="studentTix" style="color: white;  font-size: 130%; display: none;;"></p></div>
<div style="display: flex; margin-left: 2%;"><p style="color: white; margin-right: 2%; font-size: 130%; display: none;">Senior Ticket : </p><p id="seniorTix" style="color: white;  font-size: 130%; display: none;"></p></div>
<div style="display: flex; margin-left: 2%;"><p style="color: white; margin-right: 2%; font-size: 130%; display: none;">Child Ticket : </p><p id="childTix" style="color: white;  font-size: 130%; display: none;"></p></div>
</div>

<div style="display: flex;">
<h4 style="text-align: left; color: white; margin-right: 2%;">Booked Seats : </h4>
<p id="bookedSeats" style="color: white; font-size: 130%;"></p>
</div>

<div>
<h4 style="text-align: left; color: white; display: none;">Food and Drinks : </h4>
<ul id="Food" style="color: white; list-style: none; text-align: left; font-size: 130%; display: none;"></ul>
</div><br/><br/>

<a href="/"><button class="homepage" style="margin-right: 3%;">Back to Home Page</button></a><br/><br/>

<script>
  const jsonData = "";
          fetch('/getJsonData')
              .then(response => response.json())
              .then(data => {
                  // Assign the retrieved JSON object to a variable
                  
                  // Do something with the retrieved data
                  // jsonData = data;
                  document.getElementById("movieID").innerHTML = data["movieID"];
                  document.getElementById("title").innerHTML = data["title"];
                  document.getElementById("roomID").innerHTML = data["roomID"];
                  document.getElementById("dateTime").innerHTML = data["dateTime"];
                  document.getElementById("adultTix").innerHTML = data["ticketType"]["adultTix"] + " x $14.00";
                  document.getElementById("studentTix").innerHTML = data["ticketType"]["studentTix"] + " x $8.00";
                  document.getElementById("seniorTix").innerHTML = data["ticketType"]["seniorTix"] + " x $10.00";
                  document.getElementById("childTix").innerHTML = data["ticketType"]["childTix"] + " x $5.00";
                  document.getElementById("bookedSeats").innerHTML = data["bookedSeats"];
                  // var bookedSeatsArray = data["bookedSeats"];
                  // var seatsHtml = "";

                  // for (var i = 0; i < bookedSeatsArray.length; i++) {
                  //   console.log(data["bookedSeats"][i]);
                  //   var seat = bookedSeatsArray[i];
                  //   seatsHtml += "<p>booked_seats = " + seat + "</p>";
                  // }

                  // bookedSeatsElement.innerHTML = seatsHtml;


                  // let seats = data["bookedSeats"].split(",");
                  // let seatsHTML = "";
                  // for (let i = 0; i < seats.length; i++) {
                  //   seatsHTML += "<p>Booked Seats = " + seats[i] + "</p>";
                  // }
                  // document.getElementById("bookedSeats").innerHTML = seatsHTML;


                  console.log(data);
                  $( document ).ready(function() { //when page is loaded run this page
                    for (let i = 0; i < Object.keys(data.foodAndDrinks).length; i++) { //is based on the size of json data fnd
                      console.log(data["foodAndDrinks"][Object.keys(data.foodAndDrinks)[i]]);
                      $.ajax({ //point of ajax is to communicate w database behind the scene
                        url:"{{url_for('retrieveFOOD')}}",
                        type:"POST", //use method post @app.route('/retrieveFood')
                        data:{foodid:Object.keys(data.foodAndDrinks)[i]}, //pass the data to controller which is the key
                        success:function(FoodName){ //foodname is the jsonify from movies.py
                          const node = document.createElement("li"); //creating and inserting accordingly based on the json file
                          var textnode = document.createTextNode(FoodName.FoodName + " x " + data["foodAndDrinks"][Object.keys(data.foodAndDrinks)[i]] + " - " + "$" + FoodName.Price);
                          node.appendChild(textnode);
                          document.getElementById("Food").appendChild(node);
                          // assume `booked_seats` variable is already defined with the value "G1,G2,G3"
                          

                        }

                      })
                      
                    }
                    

                  });
                  

              })
              .catch(error => {
                  console.error('There was a problem with the fetch operation:', error);
              });

    
</script>

{% endblock %}
