{% extends "movies.html" %} 
{% block movies %}
    <h1>Review Page Before Payment.</h1><br/>
<br/>
<br/>
{% for each_revPage in revPage %}
{% endfor %}

  <p id="movieID" style="color: white; display: none;"></p>

  <div style="display: flex;">
  <h4 style="text-align: left; color: white; margin-right: 2%;">Movie Title : </h4>
  <p id="title" style="color: white; font-size: 130%;"></p>
  </div>

  <div style="display: flex;">
  <h4 style="text-align: left; color: white; margin-right: 2%;">Cinema Room : </h4>
  <p id="roomID" style="color: white; font-size: 130%;"></p>
  </div>

  <div style="display: flex;">
  <h4 style="text-align: left; color: white; margin-right: 2%;">Date & Time : </h4>
  <p id="dateTime" style="color: white; font-size: 130%;"></p>
  </div>

  <div>
  <h4 style="text-align: left; color: white;" >Ticket type : </h4>
  <div style="display: flex; margin-left: 2%;"><p style="color: white; margin-right: 2%; font-size: 130%;">Adult Ticket : </p><p id="adultTix" style="color: white;  font-size: 130%;"></p></div>
  <div style="display: flex; margin-left: 2%;"><p style="color: white; margin-right: 2%; font-size: 130%;">Student Ticket : </p><p id="studentTix" style="color: white;  font-size: 130%;"></p></div>
  <div style="display: flex; margin-left: 2%;"><p style="color: white; margin-right: 2%; font-size: 130%;">Senior Ticket : </p><p id="seniorTix" style="color: white;  font-size: 130%;"></p></div>
  <div style="display: flex; margin-left: 2%;"><p style="color: white; margin-right: 2%; font-size: 130%;">Child Ticket : </p><p id="childTix" style="color: white;  font-size: 130%;"></p></div>
  </div>

  <div style="display: flex;">
  <h4 style="text-align: left; color: white; margin-right: 2%;">Booked Seats : </h4>
  <p id="bookedSeats" style="color: white; font-size: 130%;"></p>
  </div>

  <div>
  <h4 style="text-align: left; color: white;">Food and Drinks : </h4>
  <ul id="Food" style="color: white; list-style: none; text-align: left; font-size: 130%;"></ul>
  </div>
  <h4 style="text-align: left; color: white; font-size: 130%;">Total Payment : </h4>
  <p id="totalPrice" style="color: white;  font-size: 130%; margin-right: 4%"></p>

  <p style="font-size: 130%;">Have a promo code? Enter below.</p> 
  <div id="promoCode" style="display: flex;">
    <label for="serialNo" style="color: white; margin-right: 4%; font-size: 130%;">Serial No :</label>
    <input type="serialNo" id="serialNo" name="serialNo" class="movingBTN" placeholder="Enter your serialNo"/>
    <button type="submit" id="serialSubmit" onclick="retrieveCode()" style="border-radius: 0;" class="btn btn-success btninfo">Submit</button>
  </div>
  <p></p>
  <div style="display: flex;" id="reward-list">
    
  </div>

  


<form action="/bookingSuccess">
  <br/><br/><button class="btnNEW">Confirm</button>
</form>

  <script>
        const jsonData = "";
        var foodPrice = 0;
        var ticketPrice = 0;
        var totalPrice = 0;
        var prev_foodPrice = 0;
        var prev_ticketPrice = 0;
        fetch('/getJsonData')
            .then(response => response.json())
            .then(data => {
                // Assign the retrieved JSON object to a variable
                // Do something with the retrieved data
                // jsonData = data;
                document.getElementById("movieID").innerHTML = data["movieID"];
                document.getElementById("title").innerHTML = data["title"];
                document.getElementById("roomID").innerHTML = data["roomID"];
                document.getElementById("dateTime").innerHTML = data["dateTime"];
                document.getElementById("adultTix").innerHTML = data["ticketType"]["adultTix"] + " x $14.00";
                document.getElementById("studentTix").innerHTML = data["ticketType"]["studentTix"] + " x $8.00";
                document.getElementById("seniorTix").innerHTML = data["ticketType"]["seniorTix"] + " x $10.00";
                document.getElementById("childTix").innerHTML = data["ticketType"]["childTix"] + " x $5.00";
                document.getElementById("bookedSeats").innerHTML = data["bookedSeats"];

                console.log(data);
                $( document ).ready(function() { //when page is loaded run this page
                  for (let i = 0; i < Object.keys(data.foodAndDrinks).length; i++) { //is based on the size of json data fnd
                    console.log(data["foodAndDrinks"][Object.keys(data.foodAndDrinks)[i]]);
                    $.ajax({ //point of ajax is to communicate w database behind the scene
                      url:"{{url_for('retrieveFOOD')}}",
                      type:"POST", //use method post @app.route('/retrieveFood')
                      data:{foodid:Object.keys(data.foodAndDrinks)[i]}, //pass the data to controller which is the key
                      success:function(FoodName){ //foodname is the jsonify from movies.py
                        const node = document.createElement("li"); //creating and inserting accordingly based on the json file
                        var textnode = document.createTextNode(FoodName.FoodName + " x " + data["foodAndDrinks"][Object.keys(data.foodAndDrinks)[i]] + " - " + "$" + FoodName.Price);
                        node.appendChild(textnode);
                        document.getElementById("Food").appendChild(node);
                        console.log(FoodName.Price)
                        //create variable outside       
                      }

                    })
                  }
                  var adultPrice = 14 * Number(data["ticketType"]["adultTix"]);
                  var studentPrice = 8 * Number(data["ticketType"]["studentTix"]);
                  var seniorPrice = 10 * Number(data["ticketType"]["seniorTix"]);
                  var childPrice = 5 * Number(data["ticketType"]["childTix"]);
                  for (let i = 0; i < Object.keys(data.foodAndDrinks).length; i++){
                    foodPrice += Number(data["foodAndDrinksPrice"][Object.keys(data.foodAndDrinks)[i]]) * Number(data["foodAndDrinks"][Object.keys(data.foodAndDrinks)[i]]);
                  }
                  ticketPrice = adultPrice + studentPrice + seniorPrice + childPrice
                  totalPrice = ticketPrice + foodPrice;
                  document.getElementById("totalPrice").innerHTML = "$"+ totalPrice;
                });
  
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });


        function sendJSON()
        {
          fetch('/processJsonFoodDrinks',{
                method: 'POST',
                headers: {
                'Content-Type' : 'application/json'
                },
                body: JSON.stringify(jsonData)
            })
            .then(response => response.json())
            .then(data => {
            // do something with the data
            window.location.href = '/bookingSuccess';
            });
        }

        function retrieveCode()
        {
          var num = document.getElementById('serialNo').value
          $.ajax({
            url: "{{ url_for('reviewPage') }}",
            type: "POST",
            data: {
                code: num
            },
            success: function(details) 
            {
              if (details.found == true){
                if (details.rewardType == 'fnb' && foodPrice > 0) {
                  var rewardname = details.name;
                  $("#reward-list").append('<div id="alert-css" data-bs-toggle="tooltip" data-bs-placement="top" title="' + details.description + '" class="alert alert-success alert-dismissible" role="alert">'+ rewardname +
                    '<button type="button" onclick="allowEditSerial()" style="padding-top:0px; font-size: 10px;"class="btn btn-xs btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' + '</div>');
                  
                  document.getElementById('serialNo').disabled = true;
                  document.getElementById('serialSubmit').disabled = true;
                  
                  prev_ticketPrice = ticketPrice;
                  prev_foodPrice = foodPrice;
                  console.log("1: " +prev_foodPrice);
                  foodPrice = foodPrice - details.discount;
                  totalPrice = ticketPrice + foodPrice;
                  document.getElementById("totalPrice").innerHTML = "$"+ totalPrice;
                } else if (details.rewardType == 'ticket' && ticketPrice > 0) {
                  $("#reward-list").append('<div id="alert-css" data-bs-toggle="tooltip" data-bs-placement="top" title="' + details.description + '" class="alert alert-success alert-dismissible" role="alert">'+ rewardname +
                    '<button type="button" onclick="allowEditSerial()" style="padding-top:0px; font-size: 10px;"class="btn btn-xs btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' + '</div>');
                  
                  document.getElementById('serialNo').disabled = true;
                  document.getElementById('serialSubmit').disabled = true;
                  
                  prev_foodPrice = foodPrice;
                  prev_ticketPrice = ticketPrice;
                  console.log(prev_ticketPrice);
                  ticketPrice = ticketPrice - details.discount;
                  totalPrice = ticketPrice + foodPrice;
                  document.getElementById("totalPrice").innerHTML = "$"+ totalPrice;
                } else {
                  $("#promoCode").append('<div id="alert-css" data-bs-toggle="tooltip" data-bs-placement="top" class="alert alert-danger alert-dismissible" role="alert">'+ 'Reward\'s criteria not met.' +
                    '<button type="button" style="padding-top:0px; font-size: 10px;"class="btn btn-xs btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' + '</div>');
                }
              }
              
            }
          })
        }

        function allowEditSerial()
        {
          ticketPrice = prev_ticketPrice;
          foodPrice = prev_foodPrice;
          console.log("2: " +foodPrice);
          totalPrice = foodPrice + ticketPrice;
          console.log("3: " +totalPrice);
          document.getElementById("totalPrice").innerHTML = "$"+ totalPrice;
          document.getElementById('serialNo').value = '';
          document.getElementById('serialNo').disabled = false;
          document.getElementById('serialSubmit').disabled = false;
        }
  </script>

  <style>
    #alert-css {
      text-align: center;
      margin-bottom: 1px;
      height: 30px;
      line-height:30px;
      padding-top:0px;
    }
  </style>
{% endblock %}


